-if session[:user_id]
    h3.home_header Hope you are happy with your computer!
    
-else
    h3.home_header This is a website which helps you build a computer, try it out by registering here: <a href="/register"> Register </a>
