* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #263238;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.link_boxes {
    width: 33%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.nav_links {
    
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 20px;
    text-decoration: none;
    
    
}

.nav_links:hover {
    text-decoration: underline;
}

.header {
    font-family: 'Roboto' , sans-serif;
    margin: 16px;
}

.header2 {
    font-family: 'Roboto' , sans-serif;
    margin: 16px;
}

.login_form {
    margin: 16px;
    margin-bottom: 160px;
}

.register_form {
    margin:16px;
}


.header3 {
    font-family: 'Roboto' , sans-serif;
    margin-left: 16px;
}

.error {
    margin: 16px;
    font-family: 'Roboto' , sans-serif;
}

.use_of_computer_header {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 16px;
    margin-top: 16px;
}

.computer_use {
    margin-bottom: 16px;
}

.box_of_cards {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.component_box {
    width: 200px;
    height: 225px;
    margin: 16px;
    padding: 8px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
}

.component_header {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 16px;
}

.component_text {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 8px;
}

.component_price {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 8px;
}

.budget_error_header {
    font-family: 'Roboto' , sans-serif;
    margin-left: 32px;
    margin-top: 16px;
}

.total_cost {
    font-family: 'Roboto' , sans-serif;
    position: fixed;
    right: 0px;
    margin: 32px;
}

.home_header {
    font-family: 'Roboto' , sans-serif;
    margin-left: 16px;
    margin-top: 16px;
}

.logout_button {
    margin: 16px;
    font-size: 1.5em;
}

.component_store_text {
    font-family: 'Roboto' , sans-serif;

}

.component_store_header {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 8px;
}
